body {
    font-family: Verdana;
}
.main-logo {
    width: 115px;
    height: auto;
}

.user-avatar {
    width: 40px;
    height: auto;
}

.navbar-nav .nav-item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-section {
    width: 100%;
    height: calc(100vh - 74.25px);
    background: url('../Images/internet.jpeg');
    background-size: cover;
    background-position: center;
}