.col-sm-4 img {
    width: 100%;
    height: 100%;
}

.col-sm-12 {
    text-align: center;
    display: inline;
}

.col-sm-12 a {
    padding-right: 10px;
}

.col-sm-8 {
    /*width: 100%;*/
    /*height: 100%;*/
}

@media only screen and (max-width: 500px) {
    .col-sm-4 img {
        grid-template-columns: 100%;
    }
}